body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em 0 2em;
    margin: 0;
    background-color: lightgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30em;
    color: white;
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 25em;
        max-width: 30em;
        img {
            width: 3em;
            cursor: pointer;
        }
        .name {
            font-size: 3em;
            margin: 0;
            font-weight: bold;
        }
        .id {
            font-size: 1.5em;
        }
    }
}

.pokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 40em;
    min-width: 30em;
    margin-top: -20em;
    img {
        width: 20em;
    }
    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 3em;
        cursor: pointer;
    }
}

main {
    margin-top: 16em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    padding: 4em;
    border-radius: 1em;
    max-width: 40em;
    background-color: white;
    .types {
        display: flex;
        flex-direction: row;
        .type {
            display: flex;
            justify-content: center;
            background-color: lightgreen;
            color: white;
            border-radius: 2em;
            padding: 0.6em;
            margin: 0.5em;
            font-weight: bold;
            min-width: 4em;
        }
    }
    .aboba {
        font-weight: bold;
        font-size: 1.5em;
    }
    .about {
        width: 100%;
        height: 8em;
        display: flex;
        flex-direction: row;
        align-items: center;
        hr {
            height: 100%;
            background-color: black;
        }
        div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%
        }
    }
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;
    .statsp {
        font-weight: bold;
        font-size: 1.5em;
    }
    .stat {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            p {
                display: flex;
                justify-content: right;
                margin: 1em;
                width: 1em;
            }
        }
        hr {
            height: 1.5em;
        }
        progress {
            width: 100%;
        }
    }
}