body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

@keyframes anime_1 {
    0% {
      margin-bottom: 0em;
    }
    50% {
      margin-bottom: 0.5em;
    }
    100% {
      margin-bottom: 0em;
    }
}

.pokemon:hover img {
    animation: 0.2s anime_1;
    animation-timing-function: linear;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 4em 1em 4em;
    p {
        font-size: 3em;
        margin: 0;
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
    }
    .form {
        margin: 1em 0em 1em 0em;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0.5em;
            padding: 0.5em;
            border-radius: 0.5em;
            box-shadow: 12px 12px 20px 20px rgba(100, 100, 100, 0.1);
            img {
                max-width: 2em;
                background-color: white;
            }
            input {
                display: block;
                border: 0;
                width: 100%;
            }
            input:focus {
                border: none;
                outline: none;
            }
            input::placeholder {
                color: blue;
            }
            button {
                width: 10em;
                border: 0;
                border-radius: 0.5em;
                background-color: orange;
                color: blue;
                font-family: sans-serif;
            }
            button:hover {
                background-color: yellow;
            }
            button:active {
                background-color: #f0f000;
            }
        }
    }
    select {
        max-width: 8em;
        height: 2em;
        border-radius: 0.5em;
    }
}

main {
    padding: 0em 4em 1em 4em;
}

#pokemon_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-end;
    
    height: 12em;
    width: 16em;
    background: transparent;
    margin: 4em 0em 1em 0em;
    padding: 2em;
    border-radius: 10%;
    color: white;
    font-family: sans-serif;
    .pokemon {
        display: flex;
        justify-content: center;
    };
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 16em;
    .name {
        font-size: 1.4em;
        margin: 0;
    }
    .id {
        font-size: 1.1em;
    }
    .tags {
        display: flex;
        align-items: flex-start;
        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-right: 0.5em;
            width: 5em;
            height: 2em;
            border-radius: 1em;
            border: 0;
            background-color: transparent;
        }
    }
}

img {
    width: 10em;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 10em;
        button {
            height: 3em;
            width: 3em;
            border: 0;
            border-radius: 1em;
            background-color: orange;
            color: blue;
            font-family: sans-serif;
        }
        button:hover {
            background-color: yellow;
        }
        button:active {
            background-color: #f0f000;
        }
        button:disabled {
            background-color: gray;
            color: black;
        }
    }
}

button {
    transition-duration: 0.2s;
}