<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="static/style.css" rel="stylesheet" type="text/css" />
        <title>aboba</title>
    </head>
    <body>
        <header>
            back_button, name, id
            img and two side buttons
        </header>
        <main>
            pokemon type
            about
            weight, height and move?
            description
            stats
        </main>
    </body>
</html>