<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="/static/pok_style.css" rel="stylesheet" type="text/css" />
        <title>aboba</title>
    </head>
    <body>
        <header>
            <div class="nav">
                <a href="/"><img src="" alt="back"></a>
                <p>bulbasaur</p>
                <p>#001</p>
            </div>
            <div class="pokemon">
                <a href="/"><</a>
                <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/001.png" alt="pokemon">
                <a href="/">></a>
            </div>
        </header>
        <main>
            <div class="type">
                <p>Grass</p>
            </div>
            <p class="aboba">about</p>
            <div class="about">
                <div class="weight">
                    <p>numbers</p>
                    <p>Weight</p>
                </div>
                <hr>
                <div class="height">
                    <p>numbers</p>
                    <p>Height</p>
                </div>
                <hr>
                <div class="move">
                    <p>numbers?</p>
                    <p>Move</p>
                </div>
            </div>
            <p class="description">description</p>
            <div class="stats">
                <p>Base Stats</p>
                <div class="HP">
                    <p>HP</p>
                    <hr>
                    <p>number</p>
                    <progress value="70" max="100"></progress>
                </div>
                <div class="ATK">
                    <p>ATK</p>
                    <hr>
                    <p>number</p>
                    <progress value="70" max="100"></progress>
                </div>
                <div class="DEF">
                    <p>DEF</p>
                    <hr>
                    <p>number</p>
                    <progress value="70" max="100"></progress>
                </div>
                <div class="SATK">
                    <p>SATK</p>
                    <hr>
                    <p>number</p>
                    <progress value="70" max="100"></progress>
                </div>
                <div class="SDEF">
                    <p>SDEF</p>
                    <hr>
                    <p>number</p>
                    <progress value="70" max="100"></progress>
                </div>
                <div class="SPD">
                    <p>SPD</p>
                    <hr>
                    <p>number</p>
                    <progress value="70" max="100"></progress>
                </div>
            </div>
        </main>
    </body>
</html>