<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="/static/pok_style.css" rel="stylesheet" type="text/css"/>
        <title>aboba</title>
    </head>
    <body>
        <header>
            <div class="nav">
                <a href="/"><img src="/static/arrow_left.png" alt="back"></a>
                <p class="name">Bulbasaur</p>
                <p class="id">#001</p>
            </div>
        </header>
        <main>
            <div class="pokemon">
                <a href="/"><</a>
                <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/001.png" alt="pokemon">
                <a href="/">></a>
            </div>
            <div class="types">
                <div class="type">
                    Grass
                </div>
                <div class="type">
                    Grass
                </div>
            </div>
            <p class="aboba">About</p>
            <div class="about">
                <div class="weight">
                    <p>numbers</p>
                    <p>Weight</p>
                </div>
                <hr>
                <div class="height">
                    <p>numbers</p>
                    <p>Height</p>
                </div>
                <hr>
                <div class="move">
                    <p>numbers?</p>
                    <p>Move</p>
                </div>
            </div>
            <p class="description">description</p>
            <div class="stats">
                <p class="statsp">Base Stats</p>
                <div class="stat" id="hp">
                    <div>
                        <p>HP</p>
                        <hr>
                        <p>number</p>
                    </div>
                    <progress value="70" max="100"></progress>
                </div>
                <div class="stat" id="attack">
                    <div>
                        <p>ATK</p>
                        <hr>
                        <p>number</p>
                    </div>
                    <progress value="70" max="100"></progress>
                </div>
                <div class="stat" id="defense">
                    <div>
                        <p>DEF</p>
                        <hr>
                        <p>number</p>
                    </div>
                    <progress value="70" max="100"></progress>
                </div>
                <div class="stat" id="special-attack">
                    <div>
                        <p>SATK</p>
                        <hr>
                        <p>number</p>
                    </div>
                    <progress value="70" max="100"></progress>
                </div>
                <div class="stat" id="special-defense">
                    <div>
                        <p>SDEF</p>
                        <hr>
                        <p>number</p>
                    </div>
                    <progress value="70" max="100"></progress>
                </div>
                <div class="stat" id="speed">
                    <div>
                        <p>SPD</p>
                        <hr>
                        <p>number</p>
                    </div>
                    <progress value="70" max="100"></progress>
                </div>
            </div>
        </main>
    </body>
    <script src="/static/pok_script.js"></script>
</html>